<h2>在父子组件之间传递状态</h2>
<section class="card">
    <header class="card-header">
        用户列表{{#if selectUser}} -  {{selectUser.login}} {{/if}}
    </header>
  {{reset-button currSelectUser=selectUser}}
  {{list-table userList=model currSelectUser=selectUser}}
  {{show-information userInfo=selectUser}}

</section>
